.board-layout {
}

.gameboard {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100px;
	height: 100px;
	margin-top: 20px;
	margin-right: 50px;
}

.main-container {
	display: flex;
	flex-direction: row;
}

.highlighted {
	background-color: lightblue;
}

.dimmed {
	opacity: 50%;
}

input {
	width: 3ch;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
